In [8]:
import pandas as pd
import os

In [22]:
folder_path = 'data'

In [31]:
# Create an empty dictionary to store DataFrames
dataframes_dict = {}

# Iterate through CSV files in the folder
for filename in os.listdir(folder_path):
    file_path = os.path.join(folder_path, filename)

    # Check if it's a file and has a .csv extension
    if os.path.isfile(file_path) and file_path.lower().endswith('.csv'):
        # Extract the root of the file name (without extension)
        file_name_root, _ = os.path.splitext(filename)

        # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path)

        # Store the DataFrame in the dictionary with the file name root as the key
        dataframes_dict[file_name_root] = df

In [49]:
dataframes_dict.keys()

dict_keys(['DJCA', 'DJIA', 'DJTA', 'DJUA', 'SP500'])

In [36]:
dataframes_dict['DJCA'].sort_values(by='DATE', ascending=True)

            DATE      DJCA
0     2013-12-09   5492.15
1     2013-12-10   5461.33
2     2013-12-11   5403.85
3     2013-12-12   5385.03
4     2013-12-13   5392.69
...          ...       ...
2603  2023-11-30  11693.90
2604  2023-12-01  11861.90
2605  2023-12-04  11865.03
2606  2023-12-05  11786.61
2607  2023-12-06  11779.29

[2608 rows x 2 columns]

In [37]:
dataframes_dict['DJCA'].shape

(2608, 2)

In [38]:

dataframes_dict['DJCA'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2608 entries, 0 to 2607
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    2608 non-null   object
 1   DJCA    2608 non-null   object
dtypes: object(2)
memory usage: 40.9+ KB

In [40]:
dataframes_dict['DJCA'].describe()

              DATE  DJCA
count         2608  2608
unique        2608  2515
top     2013-12-09     .
freq             1    92